.top-area {
  background: var(--link-bg);
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px 20px;
}
.search-input {
  border-radius: 2px;
  border: 1px solid;
  border-color: #2e3065;
}
.share-icon {
  font-size: 16px;
}
.description-box {
  border-radius: 12px;
}
.single-video-author {
  border-radius: 12px;
  text-align: left;
}
.single-video-comment-tabs {
  ul {
    margin-bottom: 20px;
  }
  .nav.nav-tabs {
    border: none;
  }
}
.header-text {
  font-size: 20px;
  color: var(--text-color);
}
.sub-text {
  font-size: 17px;
  color: var(--text-color);
}

.comment-image {
  max-width: 400px;
}

.c-width {
  overflow: hidden;
}

.c-input-border {
  input {
    border: none;
    background: var(--bg-secondary);
    width: 100%;
    color: var(--text-color);
  }

  :focus {
    outline: none !important;
  }
}

.right-sidebar.cus-scrollbar {
  position: fixed;
  top: 107px;
  max-height: calc(100vh - 112px);
  overflow-x: auto;
  padding: 30px !important;
}

.list-unstyled {
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 13px;
  text-align: center;
  display: flex;

  li {
    padding: 3px;
    span {
      font-size: 13px;
    }
  }
}

.c-height {
  height: 660px;
  background-color: #000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 768px) {
    height: 270px;
  }
}

.video-description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 56px;
}

::ng-deep {
  .c-searchbar .input-group {
    flex-wrap: unset;
  }

  .c-search-dropdown {
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      border: 1px solid var(--link-color);
      border-radius: 5px;
      max-height: 332px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .dropdown-menu .dropdown-item {
      font-size: 18px;
    }
  }

  .sub-text {
    span,
    h1,
    a,
    p {
      font-size: 17px;
      color: var(--text-color) !important;
      background-color: unset !important;
    }
  }

  @media (max-width: 770px) {
    .osahan-navbar-search {
      .form-control {
        max-width: unset !important;
        width: unset !important;
      }
    }
  }
  .c-description-height {
    span,
    h1 {
      color: var(--text-color) !important;
      background-color: unset !important;
    }
  }
  .style-scope {
    color: var(--text-color) !important;
    background-color: unset !important;
  }
  .comment-input {
    font-size: 16px;
    outline: none;
    align-self: center;
  }

  label {
    margin: 0;
  }

  .c-dropdown {
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      border: 1px solid var(--link-color);
      border-radius: 15px;
    }
  }

  .jw-controlbar .jw-button-image {
    background-color: white !important;
    border-radius: 7px !important;
    height: 30px;
    width: 34px;
  }

  .reviews-members-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    b,
    p,
    em,
    div,
    font,
    strong,
    li {
      font-size: 18px !important;
      line-height: 22px !important;
      margin: unset !important;
      letter-spacing: unset !important;
      background-color: unset !important;
      font-weight: 400 !important;
      color: unset !important;
      text-wrap: unset !important;
      overflow-wrap: anywhere;
    }
    .video-player {
      display: none !important;
    }
    a {
      font-size: 18px !important;
      line-height: 22px !important;
      margin: unset !important;
      background-color: unset !important;
      font-weight: 500 !important;
      overflow-wrap: anywhere;
    }
    img[src$=".gif"] {
      width: 70px;
    }
  }
}
