.play-icon {
  .ng-fa-icon {
    bottom: 10px;
  }
}
.video-title {
  margin-bottom: 5px;
  height: 18px !important;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
}
.c-description-height {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color) !important;
  background-color: unset !important;
}
.c-height {
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.advertisement-section {
  background-position: center center;
  img{
    max-height: 92px;
    object-fit: contain;
    background-color: rgb(0 0 0 / 58%);
  }
}
::ng-deep .time {
  fa-icon svg path {
    fill: #fff;
  }
}